body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}
.catchphrase {
  color: #68BBCD;
}
.bg-highlighted {
  background-color: #68BBCD;}
.btn-primary {
  background-color: #68BBCD;
  border-color: #68BBCD;
  color: #101B1E;
  border-radius: 50px;
}
.btn-primary:hover {
  background-color: #7CE0F5;
  border-color: #7CE0F5;
  color: #101B1E;
}
.text-bg-dark {
  background-color: #101B1E;
  color: #68BBCD;
}
.about-me {
  background-color: #101B1E;
}
.bg-body-tertiary {
  background-color: #101B1E !important; 
  color: white;
}
.skill {
  background-color: #222F33;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px; /* Padding around each skill block */
  border-radius: 50px; /* Optional: Rounded corners */
  height: auto; /* Adjusts height to content */
  width: auto; /* Adapts width to content */
}

.skill img {
  margin-right: 10px; /* Space between the image and the text */
}

.text-container h3 {
  white-space: nowrap; /* Prevents wrapping of text */
  font-size: 1rem;
  margin: 0; /* Removes default margin */
}

.card img {
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio while covering the area */
}

.card {
  height: 100%; /* Ensure cards have consistent height */
}

.carousel-inner {
  height: 200px; /* Match the image height for consistency */
}
#talk-to-me{
  background-color: #F4F4F4;
}
.carousel-inner img {
  height: 200px; /* Set a fixed height */
  object-fit: contain; /* Maintain aspect ratio while covering the area */
}
.skill img{
  width: 30px;
  height: 30px;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.footer-jumbotron{
  background-color: #101B1E;
  
}
.footer a,
.footer p{
  color: white !important;
  text-decoration: none;
}
.navbar{
  background: #101B1E !important;
  position: fixed;
  width: 100%;
z-index: 1000;
}



/* End of styles.css */
